<h1 class="text-2xl font-bold mb-4">New Project</h1><br><br>

<%= form_with model: @project, local: true do |f| %>
  <div class="mb-4">
    <%= f.label :title, class: "block font-semibold" %>
    <%= f.text_field :title, class: "border px-2 py-1 w-full" %>
  </div>

  <div class="mb-4">
    <%= f.label :status, class: "block font-semibold" %>
    <%= f.select :status, options_for_select(["Pending", "In_Progress", "Completed"]), class: "border px-2 py-1 w-full" %>
  </div>

  <%= f.submit "Create Project", class: "bg-blue-600 text-white px-4 py-2 rounded" %>
<% end %>
